.react-pdf__Document {
    height: 100vh;
    padding-top: 106px;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 99% !important;
    height: 99% !important;
    position: relative;
}

.react-pdf__Page__textContent {
    display: none;
}

.react-pdf__Page {

}

#downloadLink {
    text-align: center;
    display: block;
    font-size: 25px;
    height: 50px;
    width: 100%;
    background: black;
    padding-top: 8px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.MuiSvgIcon-root {
    height: 200px;
    width: 200px;
}

.react-pdf__Document {
    background-color: rgb(0, 0, 0);
    height: 100%;
}