body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  /* background: url(coffee-apple.jpg) no-repeat center center fixed; */