body {
  /* background: url(coffee-apple.jpg) no-repeat center center fixed; */
  background-color: antiquewhite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
